<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserPage</title>
</head>
<body>
    <header>
        <h3>Create User</h3>
        
    </header>

    <main>
        <div>
            <form method="post" th:action="@{/newUser}" th:object="${user}">
                <input type="text" th:field="*{userName}" required>
                <button type="submit">Submit User</button>
            </form>
        </div>
    </main>
</body>

</html>
