<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheTaskGroup2</title>
    <!-- Todo flytta till separat css fil -->
    <style>
      nav ul {
        list-style-type: none;
        padding: 0;
      }
    
      nav ul li {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>TheTaskGroup2</h1>
      <nav>
        <ul>
          <li>
            <a th:if="${currentUser == null}" >Ingen aktuell användare</a>
            <a th:if="${currentUser != null}" th:href="@{/}" th:text="|${currentUser.userName}'s listor|"></a>
          </li>
          <li><a th:href="@{/create_user}">Lägg till ny användare</a></li>

          <li>
              <form method="post" th:action="@{/selectUser}" id="userForm">
                <select name="userId" id="userSelect" onchange="document.getElementById('userForm').submit()">
                  <option selected disabled>Välj Användare</option>
                  <option th:each="user : ${userManager.users}" th:value="${user.id}" th:text="${user.userName}"></option>
                </select>
              </form>
          </li>
        </ul>
      </nav>
      <hr>
    </header> 

    <!-- id="todoListTitle" name="todoListTitle" -->

    <form method="post" th:action="@{/addToDoList}">
      <input type="text" id="todoListName" name="todoListTitle" >
      <button>Lägg till ny lista</button>
    </form>
    

    <div>
      <h2>To-Do Lists</h2>
      <ul>
        <li th:each="todoList : ${userOwnedLists}" th:text="${todoList.title}"></li>
      </ul>
    </div>

  </body>
</html>
