<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheTaskGroup2</title>
    <link rel="stylesheet" href="list_style.css">
    <link rel="stylesheet" href="header_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Roboto&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <h1>
        <a th:if="${currentUser == null}" >The Task</a>
        <a th:if="${currentUser != null}" th:href="@{/}" th:text="|${currentUser.userName}'s listor|"></a>
      </h1>
      <nav>
        <ul>
          <li><a th:href="@{/create_user}">Lägg till ny användare</a></li>

          <li>
              <form method="post" th:action="@{/selectUser}" id="userForm">
                <select name="userId" id="userSelect" onchange="document.getElementById('userForm').submit()">
                  <option selected disabled>Välj Användare</option>
                  <option th:each="user : ${userManager.users}" th:value="${user.id}" th:text="${user.userName}"></option>
                </select>
              </form>
          </li>
        </ul>
      </nav>
      <hr>
      <form method="post" th:action="@{/addToDoList}">
        <input type="text" id="todoListName" name="todoListTitle" required>
        <button>Lägg till ny lista</button>
      </form>
    </header> 

    <!-- id="todoListTitle" name="todoListTitle" -->



    <!-- Varje lista har nuu en "header", "body", och "footer" 
    för att förenkla CSS skapandet. Gör gärna inputsen till ett thymeleaf Form men annars
    flytta inte saker ur div'arna. 
    -->
    <div class="list-container">
      <div class="list-card" th:each="todoList : ${userOwnedLists}">
        <div class="list-card-header">
          <h3 th:text="${todoList.title}"></h3>
        </div>
        <div class="list-body">
          <!-- bara placeholders så länge -->
           
          <ul>
            <div th:each="task : ${todoList.tasks}" class="task">
              <input type="checkbox">
              <div class="task-content">
                <span th:text="${task.titleTask}" class="task-title">Test</span>
                <span th:text= "${task.deadline}"
                 
                 class="task-date">2023-10-01</span>
              </div>
            </div>
          </ul>
        </div>
        <div class="list-footer">
          <!-- Behöver thymeleaf form för backend integration -->
          <form method="post" th:action="@{/newTask}">
          <div class="inputs">
            <input type="hidden" name="listId" th:value="${todoList.listId}">
            <input type="text" name="titleTask" placeholder="Ny task" id="#task-title-input" required>
            <input type="date" name="deadline" id="#task-deadline-input">
          </div>
          <button>Lägg till Task</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
